@use 'sass:map';
@use '../mixins/function.scss' as *;

$select: () !default;
$select: map.merge(
  (
    'border-color-hover': getCssVar('border-color-hover'),
    'disabled-border': getCssVar('disabled-border-color'),
    'font-size': getCssVar('font-size-base'),
    'close-hover-color': getCssVar('text-color-secondary'),
    'input-color': getCssVar('text-color-placeholder'),
    'multiple-input-color': getCssVar('text-color-regular'),
    'input-focus-border-color': getCssVar('color-primary'),
    'input-font-size': 14px,
  ),
  $select
);

$select-option: () !default;
$select-option: map.merge(
  (
    'text-color': getCssVar('text-color-regular'),
    'disabled-color': getCssVar('text-color-placeholder'),
    'height': 34px,
    'hover-background': getCssVar('fill-color', 'light'),
    'selected-background': getCssVar('color-primary', 'light-9'),
    'selected-text-color': getCssVar('color-primary'),
  ),
  $select-option
);

$select-group: () !default;
$select-group: map.merge(
  (
    'text-color': getCssVar('color-info'),
    'height': 30px,
    'font-size': 12px,
  ),
  $select-group
);

$select-dropdown: () !default;
$select-dropdown: map.merge(
  (
    'bg-color': getCssVar('bg-color', 'overlay'),
    'shadow': getCssVar('box-shadow-light'),
    'empty-color': getCssVar('text-color-secondary'),
    'max-height': 274px,
    'padding': 6px 0,
    'empty-padding': 10px 0,
    'border': 1px solid getCssVar('border-color-light'),
  ),
  $select-dropdown
);

$select-tags-prefix-padding: () !default;
$select-tags-prefix-padding: map.merge(
  (
    'large': 8px,
    'default': 6px,
    'small': 4px,
  ),
  $select-tags-prefix-padding
);
